include README.md
include requirements.txt
recursive-include pipelines *.yaml
recursive-include database/TZfs2 *.nii
recursive-include docs/source *.rst
recursive-include scripts manual_simulate.py
include realtime_with_pyo.xml
include docs/Makefile
include docs/source/conf.py
include recordings/empty.txt
