[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio_redis = "~=0.15.1"
Cython = "~=0.29.2"
dash = "~=0.35.1"
dash_core_components = "~=0.42.1"
dash_html_components = "~=0.13.4"
evdev = "~=1.1.2"
matplotlib = "~=3.0.2"
nibabel = "~=2.3.2"
numpy = "~=1.15.4"
numexpr = "~=2.6.9"
psycopg2-binary = "~=2.7"
pydicom = "~=1.2.1"
pyserial = "~=3.4"
PyYAML = "~=4.2b1"
redis = "~=3.0.1"
scikit-learn = "~=0.20.2"

[dev-packages]
pytest = "~=4.1.1"

[requires]
python_version = "3.7"
