button {
  width: 150px;
}

.status-indicator {
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin: 0.2em;

}

.status-label {
  display: inline-block;
  width: 150px;
  margin: 0.2em;
}

#page-content {
  display: inline-block;
  width: 90vw;
  min-width: 400px;
  height: 90vh;
  min-height: 400px;
}

#data-selector-div {

}

.data-selector {
  min-width: 100px;
  width: 25%;
}
