button {
  width: 150px;
}

.status-indicator {
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin: 0.2em;

}

.status-label {
  display: inline-block;
  width: 150px;
  margin: 0.2em;
}

#container {
  display: inline-block;
  width: 90vw;
  min-width: 400px;
  height: 90vh;
  min-height: 400px},

}

#graph-div {
  height: 100%;
}
#graphs {
  display: inline-block;
  height: 100%
}